/*  $Name: ISA - Integrated Collaborative Platform - CSS Print definition $
	$File: print.css $
	$Date: 2013-03-06 $
	$Modify date: 2013-03-06 $
	$Version: 001 $
	print styles in ec-2012.css
*/

/* GENERAL ELEMENTS */
body { margin:0; padding:0px; width:100%; font-size:12px;}

/* Hidden elements*/
#path, #block-isa_links-buttons_actions, .layout-left, #menu-wrapper, #additional-tools , #user-box, .language-selector-close, #block-isa_links-home_buttons, div#block-isa_links-menus_left , 
div#right-sidebar-region, .view-filters, .views-carousel-overlay .views-carousel-overlay-link a, 
.layout-home .editors-choice .news-list li .news-body .body-more , .layout-home #before-content-region .advertisement-banners .views-field-view-node, #introduction .detail-options-title, .learn-more, .read-more, 
#content #tabs-wrapper   { display:none !important}
#header #banner-image-title{margin-top:-15px}

/* LAYOUT ELEMENTS */
#header { border-bottom:1px solid #ddd}
.layout-wrapper-reset { margin-right: 0;}
.layout-body { clear:both; padding-top:20px}
.layout-content { margin-left:0;}
#highlight, #content, .layout-right, .layout-wrapper, .layout-content, #content-region { clear:both; width:99%; margin:0 0 10px; padding:0}
.layout-search .layout-content{margin-left:0}

/* COMMON ELEMENTS */
#header #banner-image-title strong{ font-size:10pt}
div#highlight h2 { font-size:12pt; font-weight:bold; margin:0 0 5px}
div#highlight p { font-size:11pt; margin-left:0}
div#highlight { border-bottom:1px solid #ccc; margin-bottom:10px}
.colspan-1, .colspan-2, .colspan-3, .colspan-4, .colspan-5, .colspan-6, .colspan-7, .colspan-8, .colspan-9, .colspan-10, .colspan-11, .colspan-12, .colspan-13, .colspan-14, .colspan-15, .colspan-16 { float:left}
div.view div.view-content div.odd, div.view div.view-content div.even { float:left; width:100%} 

#block-views-home_carousel-block_1 { float:left; width:100%; text-align:left;}
.jcarousel-skin-default .jcarousel-clip-horizontal { width:100%; height:100%; border:1px solid #336699 !important}
.jcarousel-skin-default .jcarousel-clip-horizontal .imagecache { width:100%; height:100%}
.block-views-Advertisement-block_1 { clear:both; float:none !important;}
.imagecache-advertisement { width:20%}
.layout-home #before-content-region, .layout-home #after-content-region { padding:20px 0}
.layout-home .editors-choice .news-list li .news-body .body-type { background:none; padding:0}

.advanced-search-form-solr .form-submit, .detail-data-search-solr-down .download{color:#FFF !important}
.advanced-search-form-solr{background:none}

